anndata==0.10.5
fastapi==0.119.0
h5py==3.13.0
matplotlib==3.8.4
numpy==1.25.0
opencv-python==4.11.0.86
pandas==2.3.0
pillow==11.1.0
plotly==6.3.0
scikit-image==0.21.0
scikit-learn==1.5.2
scikit-learn-extra==0.3.0
scipy==1.15.3
scanpy==1.9.8
seaborn==0.13.2
sklearn==0.0.post12
torch==2.7.1+cu128
torch-geometric==2.6.1
torch_cluster==1.6.3
torch_scatter==2.1.2+pt27cu128
torch_sparse==0.6.18+pt27cu128
torchvision==0.22.1
torchaudio==2.7.1+cu128
tqdm==4.66.1
umap-learn==0.5.7


